In [2]:
import pandas as pd
import matplotlib as plt

In [60]:
file_path = '/home/pedro/Projects/glass-dome/csv_data/atividade_dos_deputados/xv_legislatura/atividadedeputadoxv.csv'
mp_act_df = pd.read_csv(file_path, sep='|')

bottom_subcat = mp_act_df.groupby(['act_type', 'act_subtype']).agg({'act_id': ['nunique']}).sort_values(('act_id', 'nunique'))
bottom_subcat

                                            act_id
                                           nunique
act_type act_subtype
rin      Projeto de Resolução                    1
rcp      relatores contas publicas               1
eve      Exposições                              1
         Debate                                  1
int      Tréplica                                1
eve      Cerimónia                               2
int      Recurso da decisão da mesa              2
         Réplica                                 3
eve      Audição Pública                         3
         Colóquio                                3
ini      Projeto de Deliberação                  3
int      Requerimento                            3
eve      Outros                                  5
         Conferência                             6
int      Protesto                                7
ini      Projeto de Revisão Constitucional       8
         Apreciação Parlamentar                  8
         Projeto de Regimento                   10
         Inquérito Parlamentar                  11
rin      Proposta de Resolução                  15
int      Defesa da honra                        25
         Explicações                            59
rie      relatores iniciativas europeias        67
rin      Proposta de Lei                        97
int      Declaração politica                   115
         Leitura                               143
par      Debates Diversos                      146
rpe      relatores peticoes                    169
int      Declaração de voto                    245
adc      Audiência                             311
int      Interpelação à mesa                   329
tra      DES                                   329
int      Pergunta                              458
par      Voto                                  499
req      REQ                                   504
rin      Projeto de Lei                        633
ini      Projeto de Resolução                  912
         Projeto de Lei                        970
adt      Audição                              1184
int      Pedido de esclarecimento             1362
req      PER                                  2235
int      Intervenção                          4157

In [3]:
mp_act_df.query('act_subtype == "Tréplica"')

,mp_id,mp_name,mp_party,mp_status,act_id,act_type,act_subtype,act_dar,act_date,act_desc
75220,12767,PEDRO PINTO,CH,Efetivo,270872,int,Tréplica,D/59/XV/1,2022-11-24,Aprova o Orçamento do Estado para 2023 (Discus...

In [9]:
mp_act_df.query('act_subtype == "Projeto de Resolução" and act_type == "rin"')

,mp_id,mp_name,mp_party,mp_status,act_id,act_type,act_subtype,act_dar,act_date,act_desc
13902,12779,CARLA CASTRO,IL,Efetivo,243275,rin,Projeto de Resolução,886/XV,NaN,Programa Nacional de Literacia Financeira

In [11]:
mp_act_df.query('act_id == 243275')

,mp_id,mp_name,mp_party,mp_status,act_id,act_type,act_subtype,act_dar,act_date,act_desc
5661,12769,ANDRÉ VENTURA,CH,Efetivo,243275,ini,Projeto de Resolução,886/R/XV/2,NaN,Programa Nacional de Literacia Financeira
12412,12776,BRUNO NUNES,CH,Efetivo,243275,ini,Projeto de Resolução,886/R/XV/2,NaN,Programa Nacional de Literacia Financeira
13902,12779,CARLA CASTRO,IL,Efetivo,243275,rin,Projeto de Resolução,886/XV,NaN,Programa Nacional de Literacia Financeira
21814,12774,DIOGO PACHECO DE AMORIM,CH,Efetivo,243275,ini,Projeto de Resolução,886/R/XV/2,NaN,Programa Nacional de Literacia Financeira
27664,12766,FILIPE MELO,CH,Efetivo,243275,ini,Projeto de Resolução,886/R/XV/2,NaN,Programa Nacional de Literacia Financeira
30984,12768,GABRIEL MITHÁ RIBEIRO,CH,Efetivo,243275,ini,Projeto de Resolução,886/R/XV/2,NaN,Programa Nacional de Literacia Financeira
49976,12765,JORGE GALVEIAS,CH,Efetivo,243275,ini,Projeto de Resolução,886/R/XV/2,NaN,Programa Nacional de Literacia Financeira
71344,12775,PEDRO DOS SANTOS FRAZÃO,CH,Efetivo,243275,ini,Projeto de Resolução,886/R/XV/2,NaN,Programa Nacional de Literacia Financeira
73635,12772,PEDRO PESSANHA,CH,Efetivo,243275,ini,Projeto de Resolução,886/R/XV/2,NaN,Programa Nacional de Literacia Financeira
74522,12767,PEDRO PINTO,CH,Efetivo,243275,ini,Projeto de Resolução,886/R/XV/2,NaN,Programa Nacional de Literacia Financeira
77986,12771,RITA MATIAS,CH,Efetivo,243275,ini,Projeto de Resolução,886/R/XV/2,NaN,Programa Nacional de Literacia Financeira
80602,12773,RUI AFONSO,CH,Efetivo,243275,ini,Projeto de Resolução,886/R/XV/2,NaN,Programa Nacional de Literacia Financeira
82652,12770,RUI PAULO SOUSA,CH,Efetivo,243275,ini,Projeto de Resolução,886/R/XV/2,NaN,Programa Nacional de Literacia Financeira

# QUESTION: Is each activity (act_id) unique to each MP (mp_id/mp_name)? 
No, but almost. For roughly half of the MPs, the act_id's are unique, and for the remainder there's a maximum of 8 duplicates for MP PEDRO DO CARMO, out of 314 activities.

In [7]:
act_counts_df = mp_act_df.groupby('mp_name')['act_id'].agg(['count', 'nunique'])
act_counts_df['diff'] = act_counts_df['count'] - act_counts_df['nunique']
act_counts_df.query('diff > 0').sort_values('diff')

                     count  nunique  diff
mp_name
AFONSO OLIVEIRA        365      364     1
EMÍLIA CERQUEIRA       479      478     1
JOÃO MARQUES           485      484     1
FERNANDA VELEZ         648      647     1
FERNANDO NEGRÃO        282      281     1
...                    ...      ...   ...
JOÃO MIGUEL NICOLAU    279      273     6
CLARISSE CAMPOS        324      318     6
SARA VELEZ             444      437     7
AGOSTINHO SANTA        481      474     7
PEDRO DO CARMO         314      306     8

[130 rows x 3 columns]

In [22]:
mp_act_df.groupby(['mp_id', 'mp_name', 'mp_party', 'act_id'], as_index=False)['act_desc'].count().query('act_desc > 2')

       mp_id                  mp_name mp_party  act_id  act_desc
13013  12577             NELSON BRITO       PS  117024         3
13600  12582           PALMIRA MACIEL       PS  116960         3
15378  12588              BERTA NUNES       PS  116960         3
19244  12606      ANTÓNIO MONTEIRINHO       PS  117024         3
20004  12610               SARA VELEZ       PS  116958         3
31872  12669  TIAGO BRANDÃO RODRIGUES       PS  117024         3
50966  12729         ALEXANDRE SIMÕES      PSD  117024         3

Clearly the field act_id is not good as an activity identifier, as the id number can collide across activities from different types. One of such examples can be found below.

In [24]:
mp_act_df.query('act_id == 117024 and mp_name == "NELSON BRITO"')

,mp_id,mp_name,mp_party,mp_status,act_id,act_type,act_subtype,act_dar,act_date,act_desc
62356,12577,NELSON BRITO,PS,Efetivo,117024,par,Voto,None/XV,15-06-2022,De pesar pelo falecimento de Paula Rego
62392,12577,NELSON BRITO,PS,Efetivo,117024,tra,DES,CAENE/XV,2023-07-10,Visita de Trabalho à Região Autónoma dos Açores
62400,12577,NELSON BRITO,PS,Efetivo,117024,adc,Audiência,10-CAENE-XV/XV,2023-04-12,Audiência com a delegação do Grupo Parlamentar...

### Checking if act_id can be duplicated within the same activity type

In [27]:
mp_act_df.groupby(['mp_id', 'mp_name', 'mp_party', 'act_type', 'act_id'], as_index=False)['act_desc'].count().query('act_desc > 1')

       mp_id               mp_name mp_party act_type  act_id  act_desc
20325  12610            SARA VELEZ       PS      par  116958         2
27101  12647              RUI LAGE       PS      rie   73711         2
27421  12648           CARLOS BRÁS       PS      rie  104204         2
29041  12654      ALEXANDRA LEITÃO       PS      rie  124401         2
34703  12679       FRANCISCO CÉSAR       PS      par  116976         2
35661  12683       MIGUEL IGLÉSIAS       PS      rie   62633         2
44420  12707  JOÃO BARBOSA DE MELO      PSD      rie  124531         2
69553  12769         ANDRÉ VENTURA       CH      par  116942         2
78662  12780       RODRIGO SARAIVA       IL      par  116953         2
82058  12785             JOÃO DIAS      PCP      par  116934         2
84146  12789          PAULA SANTOS      PCP      par  116962         2
88222  12795        JOANA MORTÁGUA       BE      par  116957         2

In [29]:
mp_act_df.query('act_id == 116958 and mp_name == "SARA VELEZ"')

,mp_id,mp_name,mp_party,mp_status,act_id,act_type,act_subtype,act_dar,act_date,act_desc
86397,12610,SARA VELEZ,PS,Efetivo,116958,par,Debates Diversos,None/XV,14-09-2022,"Fala sobre as Jornadas Parlamentares do PS, qu..."
86441,12610,SARA VELEZ,PS,Efetivo,116958,par,Voto,None/XV,20-04-2022,De pesar pelo falecimento de Gastão Cruz
86470,12610,SARA VELEZ,PS,Efetivo,116958,adc,Audiência,7-CCCJD-XV/XV,2023-02-22,Audiência à Comissão da Carteira Profissional ...

In [3]:
file_path = '/home/pedro/Projects/glass-dome/csv_data/atividade_dos_deputados/xv_legislatura/atividadedeputadoxv.csv'
mp_act_df = pd.read_csv(file_path, sep='|')
mp_act_merged_df = mp_act_df.merge(mp_act_df, on=['act_type', 'act_subtype', 'act_id'], suffixes=('', '_coauthors') )
n_authors = mp_act_merged_df.groupby(['mp_name', 'act_id'], as_index=False)['mp_name_coauthors'].agg('nunique')
df = mp_act_df.merge(n_authors, on=['mp_name', 'act_id'])
df['act_weight'] = 1/df['mp_name_coauthors']
df = df[['mp_id', 'mp_name', 'mp_party', 'act_id', 'act_type', 'act_subtype', 'act_weight']].drop_duplicates()
df.groupby(['mp_party', 'mp_name'])['act_weight'].sum().sort_values()

mp_party  mp_name
PS        JOÃO PAULO CORREIA             0.014493
          MARIA DA GRAÇA REIS            0.015873
          ANTÓNIO CARACOL                0.118855
CH        RODRIGO TAXA                   0.181485
PS        TATIANA HOMEM DE GOUVEIA       0.200000
                                         ...
PCP       PAULA SANTOS                 357.260280
BE        PEDRO FILIPE SOARES          385.950516
CH        ANDRÉ VENTURA                392.014654
L         RUI TAVARES                  675.585162
PAN       INÊS DE SOUSA REAL          1279.383450
Name: act_weight, Length: 258, dtype: float64

### Check the date field no understand if it can be used to complement the act_id

In [12]:
mp_act_df.isnull().sum()

mp_id              0
mp_name            0
mp_party           0
mp_status          0
act_id             0
act_type           0
act_subtype        0
act_dar           14
act_date       15327
act_desc           5
dtype: int64

In [13]:
mp_act_df.count()

mp_id          90914
mp_name        90914
mp_party       90914
mp_status      90914
act_id         90914
act_type       90914
act_subtype    90914
act_dar        90900
act_date       75587
act_desc       90909
dtype: int64

In [21]:
mp_act_df[mp_act_df['act_date'].isnull()].groupby(['act_type', 'act_subtype']).count()

                                            mp_id  mp_name  mp_party  \
act_type act_subtype
ini      Apreciação Parlamentar                99       99        99
         Inquérito Parlamentar                117      117       117
         Projeto de Deliberação                19       19        19
         Projeto de Lei                      6606     6606      6606
         Projeto de Regimento                  57       57        57
         Projeto de Resolução                7356     7356      7356
         Projeto de Revisão Constitucional     75       75        75
rcp      relatores contas publicas             14       14        14
rin      Projeto de Lei                       639      639       639
         Projeto de Resolução                   1        1         1
         Proposta de Lei                      154      154       154
         Proposta de Resolução                 15       15        15
rpe      relatores peticoes                   175      175       175

                                            mp_status  act_id  act_dar  \
act_type act_subtype
ini      Apreciação Parlamentar                    99      99       99
         Inquérito Parlamentar                    117     117      117
         Projeto de Deliberação                    19      19       19
         Projeto de Lei                          6606    6606     6606
         Projeto de Regimento                      57      57       57
         Projeto de Resolução                    7356    7356     7356
         Projeto de Revisão Constitucional         75      75       75
rcp      relatores contas publicas                 14      14        0
rin      Projeto de Lei                           639     639      639
         Projeto de Resolução                       1       1        1
         Proposta de Lei                          154     154      154
         Proposta de Resolução                     15      15       15
rpe      relatores peticoes                       175     175      175

                                            act_date  act_desc
act_type act_subtype
ini      Apreciação Parlamentar                    0        99
         Inquérito Parlamentar                     0       117
         Projeto de Deliberação                    0        19
         Projeto de Lei                            0      6606
         Projeto de Regimento                      0        57
         Projeto de Resolução                      0      7356
         Projeto de Revisão Constitucional         0        75
rcp      relatores contas publicas                 0        14
rin      Projeto de Lei                            0       639
         Projeto de Resolução                      0         1
         Proposta de Lei                           0       154
         Proposta de Resolução                     0        15
rpe      relatores peticoes                        0       175

In [25]:
unique_count = mp_act_df.groupby(['act_type', 'act_subtype'])['act_id'].nunique()
unique_count[unique_count < 5]

act_type  act_subtype
eve       Audição Pública               3
          Cerimónia                     2
          Colóquio                      3
          Debate                        1
          Exposições                    1
ini       Projeto de Deliberação        3
int       Recurso da decisão da mesa    2
          Requerimento                  3
          Réplica                       3
          Tréplica                      1
rcp       relatores contas publicas     1
rin       Projeto de Resolução          1
Name: act_id, dtype: int64

In [28]:
mp_act_df.query('act_type == "rin" and act_subtype == "Projeto de Resolução"')

,mp_id,mp_name,mp_party,mp_status,act_id,act_type,act_subtype,act_dar,act_date,act_desc
13902,12779,CARLA CASTRO,IL,Efetivo,243275,rin,Projeto de Resolução,886/XV,NaN,Programa Nacional de Literacia Financeira

Lot's of dates are missing (for more than 10% of the activities).
## Main conclusion: These data has too many inconsistencies